body {
  background-color: #E7E7EF;
  font-family: "Helvetica", "Calibri", "Sans-Serif";
  text-align: right; }
  body nav {
    background: #F0F0F0;
    border: 1px solid #999;
    vertical-align: middle; }
    body nav ul {
      padding: 0px;
      font-weight: bold;
      margin-right: 10%; }
      body nav ul li {
        display: inline;
        margin-right: 15px;
        margin-left: 15px; }
  body .container {
    margin: 60px auto; }
    body .container h1, body .container p {
      margin-right: 10%; }
    body .container .heading {
      border-bottom: 1px solid #999; }
  body h1 {
    font-size: 40px;
    line-height: 0px; }
  body p {
    font-size: 20px; }
  body a {
    text-decoration: none;
    color: #999; }
  body a:hover {
    text-decoration: underline; }
